body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-size: 10px !important;
  font-family: 'Baloo Chettan 2', cursive !important;
  color:white !important;

}

h1{
  margin: 0 !important;
}

